@charset "utf-8";
/* CSS Document */

html{
  height: 100%;
}


#banner {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 10%;
    width: 70%;
    background-color: #74767F;
    color: #fff;
    font-family: ingelby;
	text-indent: 5px;
}

#login {
	position: absolute;
    top: 0px;
    right: 0px;
    height: 10%;
    width: 30%;
    background-color: #8c8989;
    color: #fff;
    font-family: ingelby;
	text-indent: 5px;
}

#accountInfo {
	position: absolute;
    top: 0px;
    right: 0px;
    height: 10%;
    width: 30%;
    background-color: #8c8989;
    color: #fff;
    font-family: ingelby;
	text-indent: 5px;
}

#content {
    font-family: ingelby;
    margin-right: 14%;
    margin-top: 6%;
	height: 87%;
	width: 84%;
}

#floatingbar
{
    position: absolute;
    font-family: ingelby;
    background-color: #ffffff;
    top: 13%;
    right: 2px;
    width: 4%;
    height: 75%;
}


#display{
  background-color: #eeeeee;
}
